body{
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(House.jpg);
}

#text{
    margin-top: 2cm;
    justify-content: center;
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.cont img{
    box-shadow: 0 4px 8px 0 rgb(249, 249, 249), 0 6px 20px 0 rgb(255, 255, 255);
    width:900px;
    height: 500px;
    border-radius: 10px;
}
.one{
    margin-top:0;
    padding-top: 50px;
}
header{
    position: absolute;
    top: 0;
    width: 85%;
    padding: 35px 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo{
    position: relative;
    max-width: 80px;
    color: white;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block;
    color: white;
    font-weight: 400;
    margin-left: 40px;
    text-decoration:none;
}